@font-face {
  font-display: swap;
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  src: local('Geist Mono'),
  local('GeistMono'),
  url("GeistMonoVF.woff2") format("woff2"),
  url("GeistMonoVF.woff") format("woff"),
  url("GeistMonoVF.ttf") format("truetype");
}
