$highlight-foreground = #383a42
$highlight-background = #fafafa
$highlight-keyword = #a626a4
$highlight-link = #4078f2
$highlight-built-in = #c18401
$highlight-number = #986801
$highlight-string = #50a14f
$highlight-regexp = #50a14f
$highlight-subst = #e45649
$highlight-comment = #a0a1a7
$highlight-doctag = #a626a4
$highlight-meta = #4078f2
$highlight-variable = #986801
$highlight-attr = #986801
$highlight-section = #e45649
$highlight-bullet = #4078f2
$highlight-addition = #50a14f
$highlight-deletion = #e45649