$highlight-foreground = #444
$highlight-background = #F3F3F3
$highlight-keyword = #444
$highlight-link = #ab5656
$highlight-built-in = #397300
$highlight-number = #880000
$highlight-string = #880000
$highlight-regexp = #ab5656
$highlight-subst = #444
$highlight-comment = #697070
$highlight-doctag = #444
$highlight-meta = #1f7199
$highlight-variable = #ab5656
$highlight-attr = #444
$highlight-section = #880000
$highlight-bullet = #397300
$highlight-addition = #397300
$highlight-deletion = #880000