$highlight-foreground = #24292e
$highlight-background = #fdfdfd
$highlight-keyword = #d73a49
$highlight-link = #d73a49  /* Following the pattern, link should have the same color as keyword */
$highlight-built-in = #e36209
$highlight-number = #005cc5
$highlight-string = #032f62
$highlight-regexp = #032f62
$highlight-subst = #24292e
$highlight-comment = #6a737d
$highlight-doctag = #d73a49
$highlight-meta = #005cc5 /* Mapped based on the pattern for constant */
$highlight-variable = #005cc5
$highlight-attr = #005cc5
$highlight-section = #005cc5
$highlight-bullet = #735c0f
$highlight-addition = #22863a
$highlight-deletion = #b31d28