.archive-container
  padding 30px
  border 1px solid var(--rd-border)
  border-radius $redefine-border-radius-large
  box-sizing border-box
  background var(--background-color)
  margin-bottom 30px

  +redefine-tablet()
    padding 26px
    margin-bottom 24px

  +redefine-mobile()
    padding 22px
    margin-bottom 18px
