.bookmark-nav-item {
  &.active {
    background-color: var(--second-background-color);
    color: var(--primary-color);
    border-color: var(--second-background-color);
    transform: scale(1.02);
  }
} 