@require '../common/variables'

$tag-name-font-size = 3rem

.tag-container
  padding 30px
  border 1px solid var(--rd-border)
  border-radius $redefine-border-radius-large
  box-sizing border-box
  background var(--background-color)
  margin-bottom 30px

  +redefine-tablet()
    padding 26px
    margin-bottom 24px

  +redefine-mobile()
    padding 22px
    margin-bottom 18px

  .tag-name
    color var(--second-text-color)
    font-size $tag-name-font-size

    i
      color var(--second-text-color)

    font-weight 600
    padding-bottom 20px
    margin-bottom $spacing-unit
    border-bottom 1px solid var(--rd-border)

    +redefine-tablet()
      font-size: $tag-name-font-size * 0.9

    +redefine-mobile()
      font-size: $tag-name-font-size * 0.8
