
//warn 警告模块

//蓝色警告
.wb {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-blue-title-bg)
    border-left solid 4px #2FD6F0
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #2FD6F0
    line-height 2rem
  
  }
}

//红色警告
.wr {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-red-title-bg)
    border-left solid 4px #F85676
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #F85676
    line-height 2rem
  
  }  
}

//绿色警告
.wg {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-green-title-bg)
    border-left solid 4px #00C58E
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #00C58E
    line-height 2rem
  
  }  
}

//黄色警告
.wy {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-yellow-title-bg)
    border-left solid 4px #FFD43B
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #FFD43B
    line-height 2rem
  
  }  
}

//紫色警告

.wp {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-purple-title-bg)
    border-left solid 4px #A763FF
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #A763FF
    line-height 2rem
  
  }  
}

//灰色警告
.wgra{
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-gray-title-bg)
    border-left solid 4px #A6A6A6
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #A6A6A6
    line-height 2rem
  
  }  
}

//橙色警告
.wo {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-orange-title-bg)
    border-left solid 4px #FFA940
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #FFA940
    line-height 2rem
  
  }  
}

//notes 笔记模块

//蓝色笔记
.nb {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #2FD6F0
  line-height 2rem
}

//红色笔记
.nr {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #F85676
  line-height 2rem
}

//绿色笔记
.ng {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #00C58E
  line-height 2rem
}

//黄色笔记
.ny {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #FFD43B
  line-height 2rem
}

//紫色笔记
.np {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #A763FF
  line-height 2rem
}

//灰色笔记
.ngra {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #A6A6A6
  line-height 2rem
}

//橙色笔记
.no {
  box-shadow var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #FFA940
  line-height 2rem
}



//按钮
.button-28 {
  appearance none
  background-color transparent
  border 2px solid var(--default-text-color)
  border-radius 15px
  box-sizing border-box
  color #3B3B3B
  cursor pointer
  display inline-block
  font-size 16px
  font-weight 600
  line-height normal
  margin 0
  min-height 60px
  min-width 0
  outline none
  padding 16px 24px
  text-align center
  text-decoration none
  transition all 300ms cubic-bezier(.23, 1, 0.32, 1)
  user-select none
  -webkit-user-select none
  touch-action manipulation
  width 100%
  will-change transform
}

.button-28:disabled {
  pointer-events none
}

.button-28:hover {
  color #fff
  background-color var(--background-color)
  box-shadow var(--shadow-hover-color) 0 8px 15px
  transform translateY(-2px)
}

.button-28:active {
  box-shadow none
  transform translateY(0)
}