.nf-container{
	width 100%
	text-align: center
}

.nf-text{
	vertical-align middle
}

.nf-text h1{
	line-height 1
	font-size 100px 
	vertical-align baseline
	display inline-block
	padding-right 12px
	color var(first-text-color)
}
