$archive-year-font-size = 1.8rem
$archive-year-count-font-size = 1.2rem
$article-title-font-size = 1.2rem
$article-date-font-size = 1rem

@import '../../common/variables'

.archive-list-container
  .article-item
    &::before
      content attr(date-is)
      position absolute
      left 2em
      font-weight bold
      top 1em
      display block
      font-size 0.785rem
      color var(--third-text-color)

    &::after
      width 10px
      height 10px
      display block
      top 1em
      position absolute
      left -6px
      border-radius 10px
      content ''
      border 2px solid var(--third-text-color)
      background var(--background-color)
      transition background 0.2s ease-in-out

    &:last-child
      border-image var(--archive-timeline-last-child-color)