.article-copyright-info-container {
  font-family "Noto Sans SC", sans-serif;8
  position relative
  width 100%
  box-sizing border-box
  padding 10px 6px
  font-size 1rem
  background var(--third-background-color)
  border-radius 14px

  &::after {
    position absolute
    top 0
    left 0
    content ''
    width 6px
    height 100%
    background var(--copyright-info-color)
    border-radius 5px
  }


  ul {

    margin-left 10px

    li {
      margin-bottom 5px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      color var(--default-text-color)

      .license {
        font-weight bold
      }

      &:last-child {
        margin-bottom 0
      }
    }
  }
}
