.footer {
  font-size 1rem
  color var(--third-text-color)


  a {
    color var(--third-text-color)


    &:hover {
      color var(--primary-color)

    }
  }

  .info-container {
    padding-bottom 10px
    text-align center
  }

  .info-item {
    margin 5px 0
  }

  .icon-animate {
    animation icon-animate 1.2s ease-in-out infinite
  }

}



