$temp-title-fs = hexo-config('home_banner.text_style.title_size')
$title-font-size = $temp-title-fs ? convert($temp-title-fs) : 2.8rem
$temp-subtitle-fs = hexo-config('home_banner.text_style.subtitle_size')
$subtitle-font-size = $temp-subtitle-fs ? convert($temp-subtitle-fs) : 1.4rem
$temp-line-height = hexo-config('style.first_screen.line_height')
$line-height = $temp-line-height ? $temp-line-height : 1.2
$home-banner-icon-size = 1.6rem

@import '../../common/variables'

.home-banner-background
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background var(--home-banner-img) center center / cover no-repeat
  background-size cover
  will-change transform
  box-sizing border-box
  transform scale(1.1)

.home-banner-container
  font-family 'Chillax-Variable', sans-serif
  position relative
  box-sizing border-box
  width 100%
  min-height 100vh
  overflow hidden
  background var(--home-banner-img) center center / cover no-repeat
  background-size cover
  will-change transform

  .content
    position relative
    box-sizing border-box
    min-height 90vh

    .description
      width 100vw
      font-weight 450
      font-size $title-font-size
      line-height $line-height
      text-align center
      color var(--home-banner-text-color)

      p
        margin 0
        opacity 0.9
        font-family 'Satoshi-Variable', sans-serif
        font-weight 350

        i
          font-size $subtitle-font-size
          font-style normal

        span
          font-size: $subtitle-font-size * 1.05

      +redefine-tablet()
        font-size: $title-font-size * 0.9

    .social-contacts
      position absolute
      bottom 60px
      font-size $home-banner-icon-size
      text-align center
      backdrop-filter blur(10px)
      -webkit-backdrop-filter blur(10px)
      box-shadow 0 0 10px 0 rgba(0, 0, 0, 0.5)
      padding 4px 24px
      border-radius $redefine-border-radius-medium
      box-shadow inset 0 0 2000px var(--home-banner-icons-container-background-color)
      border 1.5px solid var(--home-banner-icons-container-border-color)

      +redefine-tablet()
        font-size: $home-banner-icon-size * 0.9

      .social-contact-item
        margin-right 20px
        cursor pointer
        line-height 2
        color #FFF

        &:last-child
          margin-right 0
