$logo-title-font-size = 2rem
$pc-search-icon-font-size = 1.5rem
$menu-bar-line-height = 2.5px
$logo-image-box-width = 46px

@import "../../common/variables"

.menu-wrapper {
  font-family "Optima Medium", sans-serif
  width 100%
  height 100%
  box-sizing border-box
  display flex
  align-items center
  justify-content center
  background $nav-color-bg
  -webkit-backdrop-filter blur(10px)
  backdrop-filter blur(10px)
  padding-top $scroll-progress-bar-height

  hover-style(false, 0, 0)

  .menu-content {
    position relative
    height 100%
    width $main-content-width
    max-width $content-max-width
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    z-index $z-index-5


    &.has-first-screen {
      max-width $content-max-width * 1.2
    }

    +redefine-tablet() {
      width $main-content-width-tablet
    }

    +redefine-mobile() {
      width $main-content-width-mobile
    }

    .left {
      display flex
      align-items center
      transition-t("transform", "0", "0.2", "linear")

      .menu-shrink & {
        transform scale(0.72)
        transform-origin left
      }


      if (hexo-config('base_info.logo_img') && hexo-config('base_info.logo_img') != '') {
        .logo-image {
          width $logo-image-box-width
          height $logo-image-box-width
          margin-right 8px


          +redefine-tablet() {
            width $logo-image-box-width * 0.9
            height $logo-image-box-width * 0.9
          }

          +redefine-mobile() {
            width $logo-image-box-width * 0.8
            height $logo-image-box-width * 0.8
          }

          img {
            border-radius 6px
            width 100%
          }
        }

      }

      .logo-title {
        font-size $logo-title-font-size
        font-family "Optima Bold", sans-serif
        //letter-spacing 1px
        line-height 1
        color var(--first-text-color)

        h1 {
          margin 0
          font-size $logo-title-font-size
          font-family "Optima Bold", sans-serif
          //letter-spacing 1px
          line-height 1
          color var(--first-text-color)

          +redefine-tablet() {
            font-size $logo-title-font-size * 0.9
          }

          +redefine-mobile() {
            font-size $logo-title-font-size * 0.8
          }

        }

        +redefine-tablet() {
          font-size $logo-title-font-size * 0.9
        }

        +redefine-mobile() {
          font-size $logo-title-font-size * 0.8
        }
      }

    }


    .right {

      .pc {

        .menu-list {
          display flex
          align-items center
          

          +redefine-tablet() {
            display none
          }


          .menu-item {
            float left
            //padding 5px
            position relative
            margin-left 30px
            font-size 1rem
            cursor pointer
            color var(--default-text-color)

            a {
              display block
              padding 5px
            }

            &:first-child {
              margin-left 0
            }

            a .fa-chevron-down{
              transform rotate(0deg)
              transition transform 0.3s ease
            }

            &:hover a .fa-chevron-down{
              transform rotate(180deg)
            }

            &:hover .has-dropdown{
              &::after {
                display none !important
              }
            }

            &:hover a, .active {
              &::after {
                content ''
                position absolute
                bottom -5px
                left 50%
                width 100%
                height 2px
                transform translateX(-50%)
                background var(--primary-color)
                transition-t("transform, bottom", "0, 0", "0.2, 0.2", "linear, linear")

                .menu-shrink & {
                  bottom -($menu-shrink-height / 2 - 17)
                }
              }
            }
            
            

            &.search {
              font-size $pc-search-icon-font-size
              margin-left 26px

              i {
                color var(--default-text-color)
              }

            }

            .sub-menu{
              position absolute;
              right auto
              left 50%
              -webkit-transform translate(-50%, 0)
              -o-transform translate(-50%, 0)
              transform translate(-50%, 0)
              margin-top 0px
              width auto
              text-align: center;
              list-style:none;
              padding 0 10px 
              border-radius $redefine-border-radius-large
              //visibility hidden
              

              max-height 0px
              overflow hidden
              transition-t("all", "0", "0.2", "linear") 

              li a {
                white-space nowrap
                color var(--default-text-color)
                font-size 1rem
                padding 3px 15px
                display block
                text-align center
                border-radius 8px
                transition-t("all", "0", "0.2", "linear")

                &:hover {
                  color var(--primary-color)
                  background-color var(--third-background-color)
                }
              }
            }

          }

        }

        .menu-list .menu-item:hover .sub-menu{
          //visibility visible
          max-height 500px
          transition-t("all", "0", "0.2", "ease")
          redefine-container(false, 0, 0, 10px, 5px)
        }
        
      }


      .mobile {
        display flex
        justify-content space-between
        align-items center

        .icon-item {
          display none
          position relative
          cursor pointer
          font-size 18px
          margin-left 12px
          width 20px
          height 20px
          color var(--default-text-color)

          i {
            color var(--default-text-color)
          }

          &:first-child {
            margin-left 0
          }

          +redefine-tablet() {
            display flex
            justify-content center
            align-items center
          }
        }

        .menu-bar {

          .menu-bar-middle {
            width 18px
            height $menu-bar-line-height
            position relative
            background var(--default-text-color)

            .menu-drawer-show & {
              background transparent
            }


            &::before, &::after {
              content ''
              position absolute
              left 0
              width 100%
              height $menu-bar-line-height
              background var(--default-text-color)
              transition-t("transform", "0", "0.38", "ease")
            }


            &::before {
              top -6px

              .menu-drawer-show & {
                transform translateY(6px) rotate(45deg)
              }
            }


            &::after {
              bottom -6px

              .menu-drawer-show & {
                transform translateY(-6px) rotate(-45deg)
              }
            }
          }
        }
      }
    }
  }


  .menu-drawer {
    width 100%
    padding $menu-height 0 20px 0
    position absolute
    top 0
    left 0
    transform scaleY(0)
    transform-origin top
    z-index $z-index-2
    background var(--background-color)
    transition-t("transform", "0", "0.38", "ease")

    .menu-drawer-show & {
      transform scaleY(1)
    }

    .drawer-menu-list {
      display flex
      flex-direction column
      justify-content flex-start
      align-items center

      .drawer-menu-item {
        font-family: "Optima Bold", sans-serif
        font-size 1rem
        margin 6px 0
        height 32px

        a {
          padding 6px 20px
          border-radius 20px
          color var(--default-text-color)

          &:hover {
            color var(--second-text-color)
            border 1px solid var(--default-text-color)
          }


          &.active {
            border 1px solid var(--default-text-color)
            color var(--second-text-color)
          }
        }

        .has-dropdown {
          font-family: "Optima Bold", sans-serif
        }

        a .fa-chevron-down{
          transform rotate(0deg)
          transition transform 0.3s ease
        }

        &:hover a .fa-chevron-down{
          transform rotate(180deg)
        }

        &:hover .has-dropdown{
          &::after {
            display none !important
          }
        }
      }

      .dropdown-item {
        font-size 1rem
        margin 6px 0
        height 16px

        a {
          padding 6px 20px
          border-radius 20px
          color var(--default-text-color)

          &:hover {
            color var(--second-text-color)
            border 1px solid var(--default-text-color)
          }


          &.active {
            border 1px solid var(--default-text-color)
            color var(--second-text-color)
          }
        }
      }

      .sub-menu{
        position relative
        margin-top 8px
        width 100%
        text-align: center;
        list-style: none;
        padding 0 10px 
        border-radius $redefine-border-radius-large
        //float left
      }
    }
  }


  .window-mask {
    position absolute
    top 0
    width 100%
    height 100vh
    background rgba(0, 0, 0, 0.4)
    z-index $z-index-1
    visibility hidden
    opacity 0
    transition-t("transform, opacity", "0, 0", "0.38, 0.38", "ease, ease")

    .menu-drawer-show & {
      visibility visible
      opacity 1
    }
  }

}

.menu-drawer-show {
  overflow hidden
}
