$friend-link-item-height = 82px
$friend-link-item-height-tablet = 68px
$friend-link-item-interval = 16px
$friend-link-item-border-radius = 9px

@import "../../common/variables"

.page-template-container {

  redefine-container(false, 0, 0, 30px, 30px)

  +redefine-mobile() {
    padding 1.2rem 0.2rem
    box-shadow none
  }

  .page-template-content {
    color var(--default-text-color)

    h1, h2, h3, h4, h5, h6 {

      &:first-child {
        margin-top 0
      }

    }
  }


  
  .friends-link-container {

    .friend-links-title {
      color var(--second-text-color)
      margin-top -10px

      .article-title-regular {
        font-size 3rem
        line-height 1
        font-weight bold
        color var(--second-text-color)
      }
    }

    .friends-link-list {
      position relative
      display: flex;
      flex-wrap: wrap;
      margin-bottom 1rem


      .friends-link-item {

        if (hexo-config('friend_links.columns') == '3') {
          width 32% !important
          margin-left 1% !important


          &:nth-child(odd) {
            padding-right 0 !important
          }

          &:nth-child(even) {
            padding-left 0 !important
          }
        }

        box-sizing border-box
        position relative
        float left
        width 50%
        cursor pointer
        height $friend-link-item-height
        padding-bottom $friend-link-item-interval

        

        +redefine-tablet() {
          height $friend-link-item-height-tablet
        }

        &:nth-child(odd) {
            padding-right $friend-link-item-interval * 0.5
          }

        &:nth-child(even) {
          padding-left $friend-link-item-interval * 0.5
        }



        .content {
          position relative
          width 100%
          height 100%
          box-shadow var(--redefine-box-shadow)
          border-radius $friend-link-item-border-radius
          padding-left $friend-link-item-height - $friend-link-item-interval
          box-sizing border-box


          +redefine-tablet() {
            padding-left $friend-link-item-height-tablet - $friend-link-item-interval
          }

          &:hover {
            box-shadow var(--redefine-box-shadow)

            .info .name {
              color var(--primary-color)
            }
          }

          .radius {
            border-top-left-radius $friend-link-item-border-radius
            border-bottom-left-radius $friend-link-item-border-radius
          }

          .avatar {
            position absolute
            top 0
            left 0
            width $friend-link-item-height  - $friend-link-item-interval
            height 100%
            display flex
            justify-content center
            align-items center
            font-size 2rem
            background var(--third-background-color)
            color var(--second-text-color)


            +redefine-tablet() {
              width $friend-link-item-height-tablet  - $friend-link-item-interval
            }

            img {
              box-sizing border-box
              position relative
              width 100%
              height 100%
            }
          }


          .info {
            position relative
            width 100%
            height 100%
            box-sizing border-box
            padding 10px
            display flex
            flex-direction column
            align-items center
            justify-items flex-start

            +redefine-tablet() {
              padding 6px
            }

            .name {
              width 100%
              height 60%
              font-size 1.28rem
              color var(--second-text-color)

              +redefine-tablet() {
                font-size 1.08rem
              }
            }

            .description {
              width 100%
              height 40%
              font-size 1rem
              color var(--third-text-color)


              +redefine-tablet() {
                font-size 0.98rem
              }
            }

            .ellipsis {
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
            }

          }
        }

      }

    }

  }



}
