.paginator {
  font-size 1rem
  margin-top 30px
  border-radius 12px
  display: flex;
  justify-content: center;

  a{
    margin: 0 .3rem
  }
  a.active {
    color: var(--background-color);
    background: var(--primary-color);
  }
  a.prev {
    float left
  }

  a.next {
    float right
  }

}
