.tagcloud-container {

  redefine-container(false, 0, 0, 20px, 0)

  .tagcloud-content {

    text-align justify

    a {
      padding 10px 8px
      display inline-block
      box-sizing border-box
    }
  }
}
