$dark-highlight-foreground = #f8f8f2
$dark-highlight-background = #2b2b2b
$dark-highlight-keyword = #dcc6e0
$dark-highlight-link = #f5ab35
$dark-highlight-built-in = #f5ab35
$dark-highlight-number = #f5ab35
$dark-highlight-string = #abe338
$dark-highlight-regexp = #ffa07a
$dark-highlight-subst = #f8f8f2
$dark-highlight-comment = #d4d0ab
$dark-highlight-doctag = #dcc6e0
$dark-highlight-meta = #f5ab35
$dark-highlight-variable = #ffa07a
$dark-highlight-attr = #ffd700
$dark-highlight-section = #00e0e0
$dark-highlight-bullet = #abe338
$dark-highlight-addition = #abe338
$dark-highlight-deletion = #ffa07a