$highlight-foreground = #f8f8f2
$highlight-background = #2b2b2b
$highlight-keyword = #dcc6e0
$highlight-link = #f5ab35
$highlight-built-in = #f5ab35
$highlight-number = #f5ab35
$highlight-string = #abe338
$highlight-regexp = #ffa07a
$highlight-subst = #f8f8f2
$highlight-comment = #d4d0ab
$highlight-doctag = #dcc6e0
$highlight-meta = #f5ab35
$highlight-variable = #ffa07a
$highlight-attr = #ffd700
$highlight-section = #00e0e0
$highlight-bullet = #abe338
$highlight-addition = #abe338
$highlight-deletion = #ffa07a