$dark-highlight-foreground = #fff
$dark-highlight-background = #333
$dark-highlight-keyword = #fcc28c
$dark-highlight-link = #c6b4f0
$dark-highlight-built-in = #fcc28c
$dark-highlight-number = #d36363
$dark-highlight-string = #a2fca2
$dark-highlight-regexp = #c6b4f0
$dark-highlight-subst = #fff
$dark-highlight-comment = #888
$dark-highlight-doctag = #fff
$dark-highlight-meta = #fc9b9b
$dark-highlight-variable = #ade5fc
$dark-highlight-attr = #7bd694
$dark-highlight-section = #62c8f3
$dark-highlight-bullet = #b8d8a2
$dark-highlight-addition = #a2fca2
$dark-highlight-deletion = #fc9b9b