$highlight-foreground = #fff
$highlight-background = #333
$highlight-keyword = #fcc28c
$highlight-link = #c6b4f0
$highlight-built-in = #fcc28c
$highlight-number = #d36363
$highlight-string = #a2fca2
$highlight-regexp = #c6b4f0
$highlight-subst = #fff
$highlight-comment = #888
$highlight-doctag = #fff
$highlight-meta = #fc9b9b
$highlight-variable = #ade5fc
$highlight-attr = #7bd694
$highlight-section = #62c8f3
$highlight-bullet = #b8d8a2
$highlight-addition = #a2fca2
$highlight-deletion = #fc9b9b