$dark-highlight-foreground = #abb2bf
$dark-highlight-background = #282c34
$dark-highlight-keyword = #c678dd
$dark-highlight-link = #61aeee
$dark-highlight-built-in = #e6c07b
$dark-highlight-number = #d19a66
$dark-highlight-string = #98c379
$dark-highlight-regexp = #98c379
$dark-highlight-subst = #e06c75
$dark-highlight-comment = #5c6370
$dark-highlight-doctag = #c678dd
$dark-highlight-meta = #61aeee
$dark-highlight-variable = #d19a66
$dark-highlight-attr = #d19a66
$dark-highlight-section = #e06c75
$dark-highlight-bullet = #61aeee
$dark-highlight-addition = #98c379
$dark-highlight-deletion = #e06c75