$dark-highlight-foreground = #c9d1d9
$dark-highlight-background = #0d1117
$dark-highlight-keyword = #ff7b72
$dark-highlight-link = #ff7b72
$dark-highlight-built-in = #ffa657
$dark-highlight-number = #79c0ff
$dark-highlight-string = #a5d6ff
$dark-highlight-regexp = #a5d6ff
$dark-highlight-subst = #c9d1d9
$dark-highlight-comment = #8b949e
$dark-highlight-doctag = #ff7b72
$dark-highlight-meta = #79c0ff
$dark-highlight-variable = #79c0ff
$dark-highlight-attr = #79c0ff
$dark-highlight-section = #1f6feb
$dark-highlight-bullet = #f2cc60
$dark-highlight-addition = #aff5b4
$dark-highlight-deletion = #ffdcd7