$dark-highlight-foreground = #f8f8f2
$dark-highlight-background = #23241f
$dark-highlight-keyword = #f92672
$dark-highlight-link = #ae81ff
$dark-highlight-built-in = #e6db74
$dark-highlight-number = #ae81ff
$dark-highlight-string = #e6db74
$dark-highlight-regexp = #ae81ff
$dark-highlight-subst = #f8f8f2
$dark-highlight-comment = #75715e
$dark-highlight-doctag = #f92672
$dark-highlight-meta = #75715e
$dark-highlight-variable = #e6db74
$dark-highlight-attr = #f92672
$dark-highlight-section = #a6e22e
$dark-highlight-bullet = #ae81ff
$dark-highlight-addition = #e6db74
$dark-highlight-deletion = #75715e