$dark-highlight-foreground = #d6deeb
$dark-highlight-background = #011627
$dark-highlight-keyword = #c792ea
$dark-highlight-link = #ff869a
$dark-highlight-built-in = #addb67
$dark-highlight-number = #F78C6C
$dark-highlight-string = #ecc48d
$dark-highlight-regexp = #5ca7e4
$dark-highlight-subst = #d3423e
$dark-highlight-comment = #637777
$dark-highlight-doctag = #7fdbca
$dark-highlight-meta = #82aaff
$dark-highlight-variable = #addb67
$dark-highlight-attr = #7fdbca
$dark-highlight-section = #82b1ff
$dark-highlight-bullet = #d9f5dd
$dark-highlight-addition = #addb67ff
$dark-highlight-deletion = #EF535090