$highlight-foreground = #d6deeb
$highlight-background = #011627
$highlight-keyword = #c792ea
$highlight-link = #ff869a
$highlight-built-in = #addb67
$highlight-number = #F78C6C
$highlight-string = #ecc48d
$highlight-regexp = #5ca7e4
$highlight-subst = #d3423e
$highlight-comment = #637777
$highlight-doctag = #7fdbca
$highlight-meta = #82aaff
$highlight-variable = #addb67
$highlight-attr = #7fdbca
$highlight-section = #82b1ff
$highlight-bullet = #d9f5dd
$highlight-addition = #addb67ff
$highlight-deletion = #EF535090