$dark-highlight-foreground = #D8DEE9
$dark-highlight-background = #2E3440
$dark-highlight-keyword = #81A1C1
$dark-highlight-link = #81A1C1
$dark-highlight-built-in = #8FBCBB
$dark-highlight-number = #B48EAD
$dark-highlight-string = #A3BE8C
$dark-highlight-regexp = #EBCB8B
$dark-highlight-subst = #D8DEE9
$dark-highlight-comment = #4C566A
$dark-highlight-doctag = #8FBCBB
$dark-highlight-meta = #5E81AC
$dark-highlight-variable = #D8DEE9
$dark-highlight-attr = #8FBCBB
$dark-highlight-section = #88C0D0
$dark-highlight-bullet = #81A1C1
$dark-highlight-addition = rgba(163, 190, 140, 0.5)
$dark-highlight-deletion = rgba(191, 97, 106, 0.5)