$highlight-foreground = #9aa5ce
$highlight-background = #1a1b26
$highlight-keyword = #bb9af7
$highlight-link = #ff9e64
$highlight-built-in = #e0af68
$highlight-number = #ff9e64
$highlight-string = #9ece6a
$highlight-regexp = #f7768e
$highlight-subst = #7dcfff
$highlight-comment = #565f89
$highlight-doctag = #f7768e
$highlight-meta = #565f89
$highlight-variable = #ff9e64
$highlight-attr = #bb9af7
$highlight-section = #7aa2f7
$highlight-bullet = #9ece6a
$highlight-addition = #9ece6a
$highlight-deletion = #f7768e