$dark-highlight-foreground = #9aa5ce
$dark-highlight-background = #1a1b26
$dark-highlight-keyword = #bb9af7
$dark-highlight-link = #ff9e64
$dark-highlight-built-in = #e0af68
$dark-highlight-number = #ff9e64
$dark-highlight-string = #9ece6a
$dark-highlight-regexp = #f7768e
$dark-highlight-subst = #7dcfff
$dark-highlight-comment = #565f89
$dark-highlight-doctag = #f7768e
$dark-highlight-meta = #565f89
$dark-highlight-variable = #ff9e64
$dark-highlight-attr = #bb9af7
$dark-highlight-section = #7aa2f7
$dark-highlight-bullet = #9ece6a
$dark-highlight-addition = #9ece6a
$dark-highlight-deletion = #f7768e