$dark-highlight-foreground = #DCDCDC
$dark-highlight-background = #1E1E1E
$dark-highlight-keyword = #569CD6
$dark-highlight-link = #569CD6
$dark-highlight-built-in = #4EC9B0
$dark-highlight-number = #B8D7A3
$dark-highlight-string = #D69D85
$dark-highlight-regexp = #9A5334
$dark-highlight-subst = #DCDCDC
$dark-highlight-comment = #57A64A
$dark-highlight-doctag = #608B4E
$dark-highlight-meta = #9B9B9B
$dark-highlight-variable = #BD63C5
$dark-highlight-attr = #9CDCFE
$dark-highlight-section = gold
$dark-highlight-bullet = #D7BA7D
$dark-highlight-addition = #144212
$dark-highlight-deletion = #600