<div class="fade-in-down-animation">
    <div class="category-container">
        <div class="category-name">
            <i class="fa-solid fa-folder"></i>&nbsp;<%= page.category %>
        </div>
        <div class="category-post-list">
            <%- partial('_partials/components/archive-list', {posts_new: page.posts}) %>
        </div>
    </div>
    <div class="category-paginator">
        <%- partial('_partials/tools/paginator', {pageObject: page}) %>
    </div>
</div>
