<div class="fade-in-down-animation">
    <div class="category-container">
        <div class="category-name">
            <i class="fas fa-folder"></i>&nbsp;<%= page.category %>
        </div>
        <div class="category-post-list">
            <%- partial('_partial/archive-list', {posts_new: page.posts}) %>
        </div>
    </div>
    <div class="category-paginator">
        <%- partial('_partial/paginator', {pageObject: page}) %>
    </div>
</div>
