.note-large
  box-shadow var(--redefine-box-shadow-flat)
  border-radius $redefine-border-radius-small
  margin-bottom 2rem

  .notel-title
    background-color #A6A6A640

  .notel-content
    border-radius 0 0 5px 5px
    padding 15px
    background-color var(--background-color)
    line-height 2rem

  p
    margin 0

.note-large.gray, .note-large.default
  border-left solid 4px #A6A6A6

  .notel-title
    background-color #A6A6A640

.note-large.green, .note-large.success
  border-left solid 4px #00C58E

  .notel-title
    background-color #00C58E40

.note-large.yellow, .note-large.warning
  border-left solid 4px #FFD43B

  .notel-title
    background-color #FFD43B40

.note-large.red, .note-large.danger
  border-left solid 4px #F85676

  .notel-title
    background-color #F8567640

.note-large.purple, .note-large.primary
  border-left solid 4px #A763FF

  .notel-title
    background-color #A763FF40

.note-large.orange
  border-left solid 4px #FFA940

  .notel-title
    background-color #FFA94040

.note-large.blue, .note-large.info
  border-left solid 4px #2FD6F0

  .notel-title
    background-color #2FD6F040

// ---------------------notes 笔记模块---------------------
.note
  box-shadow var(--redefine-box-shadow-flat)
  background-color var(--background-color)
  border-left solid 4px #A6A6A6

  p
    display inline-block
    margin 0
    max-width 100%

.note-icon
  font-size 1rem
  padding-right 10px
  display inline-block

.icon-padding
  padding-left 15px !important

.note.default
  border-left solid 4px #A6A6A6

  .note.icon
    color #A6A6A6

.note.success
  background-color #00C58E10
  border-left solid 4px #00C58E

  .note.icon
    color #00C58E

.note.warning
    background-color #FFD43B10
  border-left solid 4px #FFD43B

  .note.icon
    color #FFD43B

.note.danger
  background-color #F8567610
  border-left solid 4px #F85676

  .note.icon
    color #F85676

.note.primary
  background-color #A763FF10
  border-left solid 4px #A763FF

  .note.icon
    color #A763FF

.note.orange
  background-color #FFA94010
  border-left solid 4px #FFA940

  .note.icon
    color #FFA940

.note.info
  background-color #2FD6F010
  border-left solid 4px #2FD6F0

  .note.icon
    color #2FD6F0

// ------------------customizable colors------------------
.note.blue
  background-color #2FD6F010
  border-left solid 4px #2FD6F0

  .note.icon
    color #2FD6F0

.note.gray
  border-left solid 4px #A6A6A6

  .note.icon
    color #A6A6A6

.note.yellow
  background-color #FFD43B10
  border-left solid 4px #FFD43B

  .note.icon
    color #FFD43B

.note.red
  background-color #F8567610
  border-left solid 4px #F85676

  .note.icon
    color #F85676

.note.question, .note.purple
  background-color #A763FF10
  border-left solid 4px #A763FF

  .note.icon
    color #A763FF

.note.red
  background-color #F8567610
  border-left solid 4px #ff0739

  .note.icon
    color #ff0739

.note.pink
  background-color #e44b8d10
  border-left solid 4px #e44b8d

  .note.icon
    color #e44b8d

.note.green, .note.tip
  background-color #47da5510
  border-left solid 4px #47da55

  .note.icon
    color #47da55