$archive-year-font-size = 1.8rem;
$archive-year-count-font-size = 1.2rem;
$article-title-font-size = 1.2rem;
$article-date-font-size = 1rem;

.archive-list-container {

  .archive-item {
    margin-bottom: $component-spacing-value;

    &:last-child {
      margin-bottom: 0;
    }

    .archive-item-header {
      margin-bottom: 10px;

      .archive-year {
        font-size: $archive-year-font-size;

        +keep-tablet() {
          font-size: $archive-year-font-size - 0.2rem;
        }

        color: var(--second-text-color);
        font-weight: 600;
        margin-right: 6px;
      }


      .archive-year-post-count {
        font-size: $archive-year-count-font-size;
        font-weight: 500;
        color: var(--second-text-color);

        +keep-tablet() {
          font-size: $archive-year-count-font-size * 0.9;
        }
      }

    }


    .article-list {

      padding-left: 10px;

      +keep-tablet() {
        padding-left: 0;
      }

      .article-item {
        font-size: 1rem;
        margin-top: 18px;

        +keep-tablet() {
          margin-top: 16px;
        }

        +keep-mobile() {
          margin-top: 14px;
        }

        &:hover {
          a.article-title, .article-date {
            color: var(--primary-color);
          }
        }


        a.article-title {
          color: var(--default-text-color);
        }

        .article-date {
          font-size: $article-date-font-size;
          float: right;
        }
      }
    }
  }
}


