$li-border-radius = 10px
$li-margin-bottom = 12px
$post-tool-button-width = 42px

.post-tools-container {

  .tools-list {

    li {
      cursor pointer
      width $post-tool-button-width
      height $post-tool-button-width
      border-radius $li-border-radius
      font-size 1.2rem
      display flex
      align-items center
      justify-content center
      margin-bottom $li-margin-bottom
      background var(--background-color)
      color var(--default-text-color)

      i {
        color var(--default-text-color)
      }

      &:hover {
        background var(--primary-color)
        color var(--background-color)

        i {
          color var(--background-color)
        }
      }


      &:last-child {
        margin-bottom 0
      }


      hover-style(true, 1.06, 1.06)

      &.page-aside-toggle {
        display none

        +redefine-tablet() {
          display none !important
        }
      }
    }
  }

}
