.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-9;

  if (hexo-config('pjax.enable') == true) {

    .pjax-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 0;
      background: var(--pjax-progress-bar-color);
      visibility: hidden;
      opacity: 0;
      z-index: $z-index-8;
      transition-t("width", "0", "0.1", "linear");


      &.show {
        opacity: 1;
        visibility: visible;
      }
    }


    .pjax-progress-icon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: $z-index-8;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 6px 0 0;
      visibility: hidden;
      font-size: 1.1rem;
      color: var(--default-text-color);

      +keep-tablet() {
        padding: 6px 5px 0 0;
        font-size: 1rem;
      }

      &.show {
        visibility: visible;
      }
    }

  }

  if (hexo-config('style.scroll.progress_bar.enable') == true) {

    .scroll-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: $scroll-progress-bar-height;
      visibility: hidden;
      z-index: $z-index-7;
      background: var(--primary-color);
      transition-t("width", "0", "0.1", "linear");

      &.hide {
        display: none !important;
      }
    }

  }
}
