<h1 class="page-title-header">
	<%- getPageTitle(page) %>
</h1>
<div class="category-list-content">
	<%- list_categories(site.categories, { class: 'all-category', depth: 5,
		style: 'list' }) %>
</div>
<div class="category-comments">
	<% if (page.comment) { %> <%- partial('components/comments/comment') %>
	<% } %>
</div>