<div class="category-name">
    <i class="fa-solid fa-folder"></i>&nbsp;<%= page.category %>
</div>
<div class="category-post-list">
    <%- partial('utils/posts-list', {posts: page.posts}) %>
</div>
