@require 'common/animated.styl'
@require 'common/variables.styl'

@require 'common/basic.styl'
@require 'common/markdown.styl'
@require 'common/redefine-theme.styl'

@require 'common/codeblock/code-theme.styl'
@require 'common/codeblock/highlight.styl'
@require 'common/codeblock/code-block.styl'

@require 'layout/_partials/*'
@require 'layout/_partials/comments/comment.styl'
@require 'layout/_modules/*'

@require 'layout/page.styl'
@require 'layout/animations.styl'
@require 'layout/category-list.styl'
@require 'layout/home-content.styl'
@require 'layout/archive-content.styl'
@require 'layout/article-content.styl'
@require 'layout/category-content.styl'
@require 'layout/tag-content.styl'

if (hexo-config('home.sidebar.enable') == true)
  @require 'layout/home-sidebar.styl'