<% if(
        theme.comment.use === 'valine'
) { %>
 
    <div id="waline"></div>
    <script <%= theme.pjax.enable === true ? 'data-pjax' : '' %>>
        
        Waline.init({
            el: '#waline',
            serverURL: 'https://waline.evanluo.top',
            lang: 'en',
            dark: 'auto',
            avatar: 'identicon',
            requiredMeta: ['nick', 'mail'],
        });

    </script>

<% } %>
