<head>
    <!-- ... -->
    <script src="/js/waline.js"></script>
    <link
      rel="stylesheet"
      href="/css/waline.css"
    />
    <!-- ... -->
</head>
<body>
    <!-- ... -->
    <div id="waline"></div>
    <script>
        Waline.init({
        el: '#waline',
        serverURL: 'https://waline-ochre.vercel.app/',
        });
    </script>
 </body>