<% if(
        theme.comment.use === 'waline'
        && theme.comment.waline.serverUrl
        && theme.comment.waline.lang
        && theme.comment.waline.dark
) { %>
 
    <div id="waline"></div>
    <script <%= theme.pjax.enable === true ? 'data-pjax' : '' %>>
        Waline.init({
            el: '#waline',
            serverURL: '<%= theme.comment.waline.serverUrl %>',
            lang: '<%= theme.comment.waline.lang %>',
            dark: '<%= theme.comment.waline.dark %>',
            requiredMeta: ['nick','mail'], // cannot customize by theme config, change it yourself
        });
    </script>

<% } %>