@layer components {
  .timeline-entry::before {
    position: absolute;
    top: 0.35rem;
    left: -5px;
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    content: "";
    background: var(--rd-background-100);
    border: 1px solid var(--rd-gray-900);
    border-radius: 9999px;
  }

  .timeline-entry:last-child {
    border-image: linear-gradient(
        to bottom,
        var(--rd-gray-alpha-400) 60%,
        transparent 100%
      )
      1 100%;
  }

  .timeline-post::before {
    position: absolute;
    top: 0.65em;
    left: -27px;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    content: "";
    background: var(--rd-gray-300);
    border: 1px solid var(--rd-gray-alpha-400);
    border-radius: 9999px;
  }
}
