<div class="nf-container">
    <div class="nf-text">
        <h1>404 Page Not Found</h1>
    </div>
    <div class="nf-button">
        <a href="/" class="button large center"><i class="fa-regular fa-house"></i> Go Back</a>
    </div>
</div>