<div class="nf-container">
    <div class="nf-text">
        <h1>404<br>Page Not Found</h1>
    </div>
    <div class="nf-button">
<<<<<<< HEAD
        <a href="/" class="button large center"><i class="fa-regular fa-house"></i> go-back-home</a>
=======
        <a href="javascript:history.go(-1);" class="button large center"><i class="fa-regular fa-house"></i> Return to previous page</a>
    </div>
    <div class="nf-text">
        <p>or <a href="/">Back to homepage</a>.</p>
>>>>>>> parent of 4eddaf7 (Revert "Update 404-template.ejs")
    </div>
</div>