<div class="nf-container">
    <div class="nf-text">
        <h1>404<br>Page Not Found</h1>
    </div>
    <div class="nf-button">
        <a href="/" class="button large center"><i class="fa-regular fa-house"></i> <%= __("go-back-home") %></a>
    </div>
</div>
