<div class="page-template-container">
	<% const currentPageType = Object.entries(getPageData()).find(([type, config]) => {
		return config.types.includes(page.type) || config.titles.includes(page.title);
	}); %>

	<% if (currentPageType) { %>
		<%- partial(currentPageType[1].partial) %>
	<% } %>

	<div class="page-template-content markdown-body">
		<% if (currentPageType || page.content) { %>
			<%- page.content %>
		<% } else { %>
			<h1><%- page.title %></h1>
		<% } %>
	</div>

	<div class="page-template-comments">
		<% if (page.hasOwnProperty('comment') && (page.comment === true || page.comments === true) ) { %>
			<%- partial('_partials/comments/comment') %>
		<% } %>
	</div>
</div>