transition-g()
  transition-property color, background, border-color
  transition-delay 0s, 0s, 0s
  transition-duration 0.2s, 0.2s, 0.2s
  transition-timing-function ease, ease, ease

transition-t(property, delay, duration, function)
  $temp-property = 'color, background, border-color'
  $temp-delay = '0s, 0s, 0s'
  $temp-duration = '0.2s, 0.2s, 0.2s'
  $temp-function = 'ease, ease, ease'

  for p in convert(property)
    $temp-property += ',' + p

  for d in convert(delay)
    $temp-delay += ',' + d + 's'

  for d in convert(duration)
    $temp-duration += ',' + d + 's'

  for f in convert(function)
    $temp-function += ',' + f

  transition-property convert($temp-property)
  transition-delay convert($temp-delay)
  transition-duration convert($temp-duration)
  transition-timing-function convert($temp-function)
