.markdown-body {
  font-family "Open Sans", "Noto Sans SC", sans-serif
  font-size 1rem

  blockquote {

    p,
    ul,
    ol {
      padding 5px 5px 5px 10px
    }

    box-sizing border-box
    margin 20px 0
    color var(--default-text-color)
    background var(--third-background-color)
    padding 0 1rem 0 0.5rem
    border-radius 0 $redefine-border-radius-medium $redefine-border-radius-medium 0 
    position relative
    border-left 5px solid var(--default-text-color) 
  }


  p {
    line-height 1.5
    color var(--default-text-color)
    margin-bottom 1rem
    margin-top: 0;
  }


  a {
    position relative
    outline 0
    text-decoration underline
    overflow-wrap break-word
    cursor pointer
    //border-bottom 1px solid var(--third-text-color)
    box-sizing border-box
    padding-bottom 2px

    .fas, .far, fab {
      margin 0 2px 0 6px
      position relative
      color var(--third-text-color)
      font-size 0.88rem
    }


    &:hover {
      text-decoration underline

      &::after {
        background var(--primary-color)
        text-decoration underline
      }
    }
  }


  strong {
    color var(--default-text-color)
  }


  em {
    color var(--default-text-color)
  }


  ul > li,
  ol > li {
    margin-left 16px
    line-height 2rem
  }


  ul {

    li {
      list-style disc

      ul {

        li {
          list-style circle

          ul {
            li {
              list-style square
            }
          }
        }
      }
    }
  }


  ol {

    li {
      list-style decimal

      ol {

        li {
          list-style upper-alpha

          ol {
            li {
              list-style upper-roman
            }
          }
        }
      }
    }
  }


  li {
    color var(--default-text-color)
  }


  h1, h2, h3, h4, h5, h6 {
    font-family "Noto Sans", "Noto Sans SC", sans-serif
    color var(--second-text-color)
    line-height 1.5
    margin-bottom 1rem  !important

    +redefine-tablet() {
      line-height 1.25
    }
  }


  h1 {
    font-size 3.2rem
    font-weight 600
    border-bottom solid 2px var(--fourth-text-color)
    margin-top 5rem

    +redefine-tablet() {
      font-size 1.7rem
    }
  }


  h2 {
    font-size 2.5rem
    font-weight 600
    padding 3px 0
    border-bottom solid 2px var(--fourth-text-color)
    margin-top 4rem



    +redefine-tablet() {
      font-size 1.6rem
    }
  }


  h3 {
    font-size 1.8rem
    font-weight 550
    margin-top 2.8rem

    +redefine-tablet() {
      font-size 1.5rem
    }
  }


  h4 {
    font-size 1.5rem
    font-weight 550
    margin-top 2.5rem

    +redefine-tablet() {
      font-size 1.4rem
    }
  }


  h5 {
    font-size 1.28rem
    font-weight 550
    margin-top 2.2rem

    +redefine-tablet() {
      font-size 1.18rem
    }
  }


  h6 {
    font-size 1.2rem
    font-weight 550
    line-height 1.2
    margin-top 2rem

    +redefine-tablet() {
      font-size 1.1rem
      line-height 1.1
    }
  }


  img {
    box-sizing border-box
    border-radius $redefine-border-radius-medium
    max-width 100%
    cursor zoom-in
    display block
    box-shadow 0 0 2px var(--shadow-color)
    transition-t("padding, margin", "0, 0", "0.2, 0.2", "linear, linear")
    

    if (hexo-config('style.article_img_align') == 'center') {
      margin 1rem auto 1rem
    } else {
      margin 1rem 0 1rem
    }

  }


  & > table {
    border-spacing 0
    border-collapse collapse
    width 100%
    overflow auto

    td,
    th {
      padding 0
    }

    th {
      font-weight 600
    }

    td,
    th {
      padding 6px 13px
      border 1px solid var(--border-color)
    }

    tr {
      background-color var(--background-color)
      border 1px solid var(--fourth-text-color)
    }

    tr:nth-child(2n) {
      background-color var(--third-background-color)
    }
  }
}

