redefine-tablet()
  @media (max-width $media-max-width)
    {block}

redefine-mobile()
  @media (max-width $media-max-width-mobile)
    {block}

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  width 100%
