<div class="essays-container">
    <div class="essays-title">
        <h1 class="article-title-regular"><%= page.title %></h1>
    </div>
    <ul class="essays-list">
        <% const newessays = theme.essays.sort((a, b) => {
            return moment(b.date).diff(a.date);
          });
        %>
        <% for (const e of newessays) { %>
            <li class="essay-item">
                <div class="essay-avatar"><%- image_tag(url_for(theme.defaults.avatar)) %></div>
                <div class="essay-content">
                    <div class="content"><%- markdown(e.content) %></div>
                    <div class="date"><%- date(e.date, config.date_format) %></div>
                </div>
            </li>
        <% } %>
    </ul>
    <div class="clear"></div>
</div>
