<div class="progress-bar-container">
	<% if (theme.global.scroll_progress.bar === true) { %>
	<span class="scroll-progress-bar"></span>
	<% } %>

	<% if (theme.global.single_page === true) { %>
	<span class="pjax-progress-bar"></span>
	<!--        <span class="swup-progress-icon">-->
	<!--            <i class="fa-solid fa-circle-notch fa-spin"></i>-->
	<!--        </span>-->
	<% } %>
</div>