<div class="comments-container">
    <div id="comment-anchor"></div>
    <div class="comment-area-title">
        <i class="fa-solid fa-comments"></i>&nbsp;<%- __('comments') %>
    </div>
    <% if (theme.comment.enable === true && theme.comment.hasOwnProperty(theme.comment.use)) { %>

        <% if  (theme.comment.use === 'waline') { %>
            <%- partial('waline') %>

        <% } else if (theme.comment.use === 'gitalk') { %>
            <%- partial('gitalk') %>

        <% } else if (theme.comment.use === 'twikoo') { %>
            <%- partial('twikoo') %>
        
        <% } %>
    <% } %>
</div>
