<% if(
        theme.comment.use === 'waline'
        && theme.comment.waline.serverUrl
        && theme.comment.waline.lang
) { %>
 
    <div id="waline"></div>
    <script type="module"  <%= theme.pjax.enable === true ? 'data-pjax' : '' %>>
        import { init } from 'https://evan.beee.top/js/waline.mjs';

        function loadWaline() {
            init({
                el: '#waline',
                serverURL: '<%= theme.comment.waline.serverUrl %>',
                lang: '<%= theme.comment.waline.lang %>',
                dark: 'body[class~="dark-mode"]',
                requiredMeta: ['nick','mail'], // cannot customize by theme config, change it yourself
            });
        }

        if ('<%= theme.pjax.enable %>') {
            const loadWalineTimeout = setTimeout(() => {
                loadWaline();
                clearTimeout(loadWalineTimeout);
            }, 1000);
        } else {
            window.addEventListener('DOMContentLoaded', loadWaline);
        }
        
    </script>

<% } %>