.valine-container {

  #vcomments {

    .vwrap {

      border 3px solid var(--third-text-color)
      border-radius 18px

      .vheader {


        .vinput {
          color var(--default-text-color)
          border-color var(--third-text-color)
          font-size 1rem
          border-bottom 2px solid var(--third-text-color)
          display inline
          transition all 0.2s

          &:focus {
            border-width 3px
            border-color var(--primary-color)
          }
        }
      }


      .vedit {

        .veditor {
          color var(--default-text-color)
          font-size 1rem
          font-family "Noto Sans SC", sans-serif
        }

        .vctrl {

          .vicon {

            fill var(--default-text-color)

            &.actived {
              fill var(--primary-color)
            }
          }
        }

      }


      button.vsubmit {

        background transparent !important
        color var(--default-text-color) !important
        border 2px solid var(--third-text-color) !important
        border-radius 12px !important
        transition-duration 0.3s ease

        &:hover {
          color var(--default-text-color) !important
          background-color var(--third-text-color) !important
        }
      }


    }


    .vcount {
      color var(--default-text-color)

      .vnum {
        color var(--second-text-color)
      }
    }


    .vcard {

      .vnick {
        .author {
          font-weight 450
          font-size 12px
          padding 2px
          background -webkit-linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5)
          background linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5)
          color #fff
          margin-left 2px
          border-radius 2px
        }
      }


      .vhead {

        .vnick {
          color var(--primary-color)
        }

        .vsys {
          color var(--default-text-color)
          background var(--fourth-text-color) !important
        }
      }


      .vcontent {
        P {
          color var(--default-text-color)

          code {
            color var(--code-foreground)
            background var(--code-background)
          }
        }
      }


      .vh {
        border-bottom-color var(--border-color)
      }

      .vquote {
        border-left-color var(--border-color)
      }
    }


    .vcopy {
      color var(--third-text-color)
    }


    .vpage {

      .vmore {
        border 1px solid var(--border-color)
        color var(--second-text-color)
      }
    }


  }


}
