:root {
  /* 字体大小 */
  transition all 0.1s
  --waline-font-size 16px

  /* 常规颜色 */
  --waline-white #FFF !important
  --waline-light-grey var(--second-background-color) !important
  --waline-dark-grey var(--default-text-color)

  /* 主题色 */
  --waline-theme-color #27ae60 !important
  --waline-active-color #2ecc71 !important

  /* 布局颜色 */
  --waline-color var(--backgroung-color) !important
  --waline-bgcolor var(--backgroung-color) !important
  --waline-bgcolor-light var(--backgroung-color) !important
  --waline-bgcolor-hover var(--second-background-color) !important
  --waline-border-color #ddd !important
  --waline-disable-bgcolor #f8f8f8 !important
  --waline-disable-color #bbb !important
  --waline-code-bgcolor #282c34 !important

  /* 特殊颜色 */
  --waline-bq-color #f0f0f0 !important

  /* 头像 */
  --waline-avatar-size 3.25rem
  --waline-m-avatar-size calc(var(--waline-avatar-size) * 9 / 13)

  /* 徽章 */
  --waline-badge-color #3498db
  --waline-badge-font-size 0.775em

  /* 信息 */
  --waline-info-bgcolor var(--background-color) !important
  --waline-info-color #FFF
  --waline-info-font-size 0.625em

  /* 渲染选择 */
  --waline-border 1px solid var(--waline-border-color)
  --waline-avatar-radius 15%
  --waline-box-shadow none
}