<div class="post-toc-wrap">
	<div class="post-toc">
		<div class="toc-title"><%- __('toc') %></div>
		<div class="page-title"><%= page.title %></div>
		<%- toc(
                page.content,
                {
                    class: 'nav',
                    list_number: theme.articles.toc.number,
                    max_depth: theme.articles.toc.max_depth,
                }
        ) %>

	</div>
</div>