@layer theme, base, components, utilities;

@import 'tailwindcss';
@import './base/variables.css';
@import './base/global.css';
@import './base/animations.css';
@import './base/prose.css';
@import './components/page.css';
@import './components/navbar.css';
@import './components/home.css';
@import './components/paginator.css';
@import './components/article.css';
@import './components/archive.css';
@import './components/categories.css';
@import './components/tags.css';
@import './components/search.css';
@import './components/image-viewer.css';
@import './components/progress.css';
@import './components/preloader.css';
@import './components/folding.css';
@import './components/callouts.css';
@import './components/buttons.css';
@import './components/code.css';

@custom-variant dark (&:is(.dark *));

@source "../layout/**/*.ejs";
@source "../scripts/**/*.js";

@theme {
  --z-index-1: 1001;
  --z-index-2: 1002;
  --z-index-3: 1003;
  --z-index-4: 1004;
  --z-index-5: 1005;
  --z-index-6: 1006;
  --z-index-7: 1007;
  --z-index-8: 1008;
  --z-index-9: 1009;

  --font-display: "Chillax-Variable", sans-serif;
  --font-title: var(--font-display);
  --font-home: var(--font-display);

  --text-default: 16px;

  --leading-default: 1.5;
}

@theme inline {
  --container-content: var(--content-max-width);
  --container-content-with-toc: var(--content-with-toc-max-width);
  --color-primary: var(--primary-color);
  --color-rd-primary-text: var(--rd-primary-text);
  --color-nav-color-1: var(--nav-color-1);
  --color-nav-color-2: var(--nav-color-2);
  --color-nav-color-bg: var(--nav-color-bg);
  --color-rd-background-100: var(--rd-background-100);
  --color-rd-background-200: var(--rd-background-200);
  --color-rd-gray-100: var(--rd-gray-100);
  --color-rd-gray-200: var(--rd-gray-200);
  --color-rd-gray-300: var(--rd-gray-300);
  --color-rd-gray-alpha-400: var(--rd-gray-alpha-400);
  --color-rd-gray-900: var(--rd-gray-900);
  --color-rd-gray-1000: var(--rd-gray-1000);
  --color-selection-color: var(--selection-color);
  --color-scrollbar-color: var(--scrollbar-color);
  --color-scrollbar-color-hover: var(--scrollbar-color-hover);
  --color-scroll-bar-bg-color: var(--scroll-bar-bg-color);
  --color-avatar-background-color: var(--avatar-background-color);
  --color-archive-timeline-last-child-color: var(
    --archive-timeline-last-child-color
  );
  --color-note-blue-title-bg: var(--note-blue-title-bg);
  --color-note-red-title-bg: var(--note-red-title-bg);
  --color-note-cyan-title-bg: var(--note-cyan-title-bg);
  --color-note-green-title-bg: var(--note-green-title-bg);
  --color-note-yellow-title-bg: var(--note-yellow-title-bg);
  --color-note-gray-title-bg: var(--note-gray-title-bg);
  --color-note-type-title-bg: var(--note-type-title-bg);
  --color-note-black-title-bg: var(--note-black-title-bg);
  --color-note-purple-title-bg: var(--note-purple-title-bg);
  --color-home-banner-img: var(--home-banner-img);
  --color-home-banner-text-color: var(--home-banner-text-color);
  --shadow-rd: var(--rd-shadow);
}

@layer base {
  ul,
  ol,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--rd-gray-1000);
  }

  a i,
  a span {
    color: var(--rd-gray-1000);
  }

  a:hover,
  a:active {
    text-decoration: none;
    color: var(--primary-color);
  }

  a:hover i,
  a:hover span,
  a:active i,
  a:active span {
    color: var(--primary-color);
  }

  button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
  }
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;            /* Chrome, Safari and Opera */
}
