.callout
  --callout-primary-color #A6A6A6
  --callout-bg-color #A6A6A610
  --callout-bg-color-strong #A6A6A640

.callout.default, .callout.gray
  --callout-primary-color #A6A6A6
  --callout-bg-color #A6A6A610
  --callout-bg-color-strong #A6A6A640

.callout.success
  --callout-primary-color #00C58E
  --callout-bg-color #00C58E10
  --callout-bg-color-strong #00C58E40

.callout.warning, .callout.yellow
  --callout-primary-color #FFD43B
  --callout-bg-color #FFD43B10
  --callout-bg-color-strong #FFD43B40

.callout.danger, .callout.red
  --callout-primary-color #F85676
  --callout-bg-color #F8567610
  --callout-bg-color-strong #F8567640

.callout.primary, .callout.purple, .callout.question
  --callout-primary-color #A763FF
  --callout-bg-color #A763FF10
  --callout-bg-color-strong #A763FF40

.callout.orange
  --callout-primary-color #FFA940
  --callout-bg-color #FFA94010
  --callout-bg-color-strong #FFA94040

.callout.info, .callout.blue
  --callout-primary-color #2FD6F0
  --callout-bg-color #2FD6F010
  --callout-bg-color-strong #2FD6F040

.callout.green, .callout.tip
  --callout-primary-color #47da55
  --callout-bg-color #47da5510
  --callout-bg-color-strong #47da5540

.callout.pink
  --callout-primary-color #e44b8d
  --callout-bg-color #e44b8d10
  --callout-bg-color-strong #e44b8d40

.callout--titled.green
  --callout-primary-color #00C58E
  --callout-bg-color #00C58E10
  --callout-bg-color-strong #00C58E40

.callout .markdown-body > *:last-child
  margin-bottom 0