.note-large {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius $redefine-border-radius-small
  margin-bottom 2rem

  .notel-title {
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color #A6A6A640
    
  }

  .notel-content {
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)

    line-height 2rem
  }

  p {
    margin 0
  }
}

.notel-gray,
.notel-default {
  border-left solid 4px #A6A6A6

  .notel-title {
    background-color #A6A6A640
  }
}

.notel-green,
.notel-success {
  border-left solid 4px #00C58E

  .notel-title {
    background-color #00C58E40
  }
}

.notel-yellow,
.notel-warning {
  border-left solid 4px #FFD43B

  .notel-title {
    background-color #FFD43B40
  }
}

.notel-red,
.notel-danger {
  border-left solid 4px #F85676
  
  .notel-title {
    background-color #F8567640
  }
}

.notel-purple,
.notel-primary {
  border-left solid 4px #A763FF

  .notel-title {
    background-color #A763FF40
  }
}

.notel-orange {
  border-left solid 4px #FFA940

  .notel-title {
    background-color #FFA94040
  }
}

.notel-blue,
.notel-info {
  border-left solid 4px #2FD6F0

  .notel-title {
    background-color #2FD6F040
  }
}


//----------------legacy----------------

//蓝色警告
.wb {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color #2FD6F040
    border-left solid 4px #2FD6F0
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #2FD6F0
    line-height 2rem
  
  }
}

//红色警告
.wr {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-red-title-bg)
    border-left solid 4px #F85676
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #F85676
    line-height 2rem
  
  }  
}

//绿色警告
.wg {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-green-title-bg)
    border-left solid 4px #00C58E
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #00C58E
    line-height 2rem
  
  }  
}

//黄色警告
.wy {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-yellow-title-bg)
    border-left solid 4px #FFD43B
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #FFD43B
    line-height 2rem
  
  }  
}

//紫色警告

.wp {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-purple-title-bg)
    border-left solid 4px #A763FF
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #A763FF
    line-height 2rem
  
  }  
}

//灰色警告
.wgra{
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-gray-title-bg)
    border-left solid 4px #A6A6A6
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #A6A6A6
    line-height 2rem
  
  }  
}

//橙色警告
.wo {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px

  .t{
    border-radius 5px 5px 0 0
    padding 15px
    font-weight bold
    font-size 1.2rem
    background-color var(--note-orange-title-bg)
    border-left solid 4px #FFA940
  }
  .c{
    border-radius 0 0 5px 5px
    font-size 1.1rem
    padding 15px
    background-color var(--background-color)
    border-left solid 4px #FFA940
    line-height 2rem
  
  }  
}

//---------------------notes 笔记模块---------------------

.note {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius $redefine-border-radius-small
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  line-height 2rem
  margin-bottom 1rem
  border-left solid 4px #A6A6A6

  p {
    display inline-block
    margin 0
  }
}

.note-icon {
  font-size 1rem
  padding-right 10px
  display inline-block
}

.icon-padding {
  padding-left 15px !important
}

.note-default {
  border-left solid 4px #A6A6A6

  .note-icon {
    color #A6A6A6
  }
}

.note-success {
  border-left solid 4px #00C58E

  .note-icon {
    color #00C58E
  }
}

.note-warning {
  border-left solid 4px #FFD43B

  .note-icon {
    color #FFD43B
  }
}

.note-danger {
  border-left solid 4px #F85676

  .note-icon {
    color #F85676
  }
}

.note-primary {
  border-left solid 4px #A763FF

  .note-icon {
    color #A763FF
  }
}

.note-orange {
  border-left solid 4px #FFA940

  .note-icon {
    color #FFA940
  }
}

.note-info {
  border-left solid 4px #2FD6F0

  .note-icon {
    color #2FD6F0
  }
}

//------------------customizable colors------------------

.note-blue {
  border-left solid 4px #2FD6F0

  .note-icon {
    color #2FD6F0
  }
}

.note-gray {
  border-left solid 4px #A6A6A6

  .note-icon {
    color #A6A6A6
  }
}


.note-yellow {
  border-left solid 4px #FFD43B

  .note-icon {
    color #FFD43B
  }
}

.note-red {
  border-left solid 4px #F85676

  .note-icon {
    color #F85676
  }
}

.note-question,
.note-purple {
  border-left solid 4px #A763FF

  .note-icon {
    color #A763FF
  }
}

.note-red {
  border-left solid 4px #ff0739

  .note-icon {
    color #ff0739
  }
}

.note-pink {
  border-left solid 4px #e44b8d

  .note-icon {
    color #e44b8d
  }
}

.note-green,
.note-tip {
  border-left solid 4px #47da55

  .note-icon {
    color #47da55
  }
}





  


//--------------------legacy--------------------
.nb {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #2FD6F0
  line-height 2rem
}

//红色笔记
.nr {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #F85676
  line-height 2rem
}

//绿色笔记
.ng {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #00C58E
  line-height 2rem
}

//黄色笔记
.ny {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #FFD43B
  line-height 2rem
}

//紫色笔记
.np {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #A763FF
  line-height 2rem
}

//灰色笔记
.ngra {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #A6A6A6
  line-height 2rem
}

//橙色笔记
.no {
  box-shadow var(--redefine-box-shadow-flat) 
  border-radius 5px
  padding 15px
  font-size 1.2rem
  background-color var(--background-color)
  border-left solid 4px #FFA940
  line-height 2rem
}



