div.tabs
  .highlight, p, ul, ol, div.note, .callout, details
    margin-top 16px
    margin-bottom 16px

  .tab-content
    blockquote
      border-radius 0 $redefine-border-radius-small $redefine-border-radius-small 0

    .tab-pane
      &:not(.active)
        display none

      &.active
        display block

      *:last-child
        margin-bottom 0

      *:first-child
        margin-top 0
