div.tabs
  .highlight, p, ul, ol, div.note, .callout, details
    margin-top 16px
    margin-bottom 16px

  .tab-content
    .tab-pane
      *:last-child
        margin-bottom 0

      *:first-child
        margin-top 0
