{{- $r := site.Params.redefine -}}
{{- $primary := $r.colors.primary | default "#A31F34" -}}
<style>
  :root {
    --primary-color: {{ $primary }};
    --background-color: #fff;
    --background-color-transparent: rgba(255, 255, 255, 0.6);
    --background-color-transparent-15: rgba(255, 255, 255, 0.15);
    --background-color-transparent-40: rgba(255, 255, 255, 0.4);
    --background-color-transparent-80: rgba(255, 255, 255, 0.8);
    --second-background-color: #fafafa;
    --third-background-color: #f7f7f7;
    --third-background-color-transparent: rgba(241, 241, 241, 0.6);
    --default-text-color: #373d3f;
    --first-text-color: #24282a;
    --second-text-color: #2b3032;
    --third-text-color: #737b80;
    --fourth-text-color: #e9e9e9;
    --invert-text-color: #bebec6;
    --border-color: rgba(0, 0, 0, 0.08);
    --selection-color: color-mix(in srgb, {{ $primary }}, white 10%);
    --shadow-color-1: rgba(0, 0, 0, 0.08);
    --shadow-color-2: rgba(0, 0, 0, 0.05);
    --shadow-hover-color: rgba(0, 0, 0, 0.28);
    --scrollbar-color: #c1c1c1;
    --scrollbar-color-hover: #a1a1a1;
    --scroll-bar-bg-color: #fafafa;
    --link-color: #2d3335;
    --copyright-info-color: #CC0033;
    --avatar-background-color: #0066CC;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
    --archive-timeline-last-child-color: linear-gradient(to bottom, rgba(232,232,232, 1) 60%, rgba(0,0,0, 0) 100%) 1 100%;
    --note-blue-title-bg: #D6F7FB;
    --note-red-title-bg: #FDE9E9;
    --note-green-title-bg: #E9FDE9;
    --note-yellow-title-bg: #FDF9E9;
    --note-purple-title-bg: #F9E9FD;
    --note-gray-title-bg: #F9F9F9;
    --note-black-title-bg: #E9E9E9;
    --note-cyan-title-bg: #E9FDF9;
    --note-type-title-bg: #fdf3e9;
    --home-banner-text-color: {{ $r.home_banner.text_color.light | default "#fff" }};
    --home-banner-img: url({{ $r.home_banner.image.light | default "/images/wallhaven-wqery6-light.webp" | relURL }});
    --home-banner-icons-container-border-color: rgba(255, 255, 255, 0.35);
    --home-banner-icons-container-background-color: rgba(255, 255, 255, 0.3);
    --navbar-gradient: linear-gradient(120deg, {{ $r.navbar.color.left | default "#f78736" }}59 0%, {{ $r.navbar.color.right | default "#367df7" }}59 100%);
    --content-max-width: {{ $r.global.content_max_width | default "1000px" }};
    --sidebar-width: {{ $r.global.sidebar_width | default "210px" }};
    --navbar-width-home: {{ $r.navbar.width.home | default "1200px" }};
    --navbar-width-pages: {{ $r.navbar.width.pages | default "1000px" }};
    --home-banner-title-size: {{ $r.home_banner.text_style.title_size | default "2.8rem" }};
    --home-banner-subtitle-size: {{ $r.home_banner.text_style.subtitle_size | default "1.5rem" }};
    --home-banner-line-height: {{ $r.home_banner.text_style.line_height | default "1.2" }};
    --article-font-size: {{ $r.articles.style.font_size | default "16px" }};
    --article-line-height: {{ $r.articles.style.line_height | default "1.5" }};
    --article-img-border-radius: {{ $r.articles.style.image_border_radius | default "14px" }};
    --h1-heading-margin-top: {{ $r.articles.style.headings_top_spacing.h1 | default "3.2rem" }};
    --h2-heading-margin-top: {{ $r.articles.style.headings_top_spacing.h2 | default "2.4rem" }};
    --h3-heading-margin-top: {{ $r.articles.style.headings_top_spacing.h3 | default "1.9rem" }};
    --h4-heading-margin-top: {{ $r.articles.style.headings_top_spacing.h4 | default "1.6rem" }};
    --h5-heading-margin-top: {{ $r.articles.style.headings_top_spacing.h5 | default "1.4rem" }};
    --h6-heading-margin-top: {{ $r.articles.style.headings_top_spacing.h6 | default "1.3rem" }};
    --redefine-box-shadow: var(--shadow-color-2) 0 6px 24px 0, var(--shadow-color-1) 0 0 0 1px;
    --redefine-box-shadow-hover: var(--shadow-color-2) 0 6px 24px 0, var(--shadow-color-1) 0 0 0 1px, var(--shadow-color-1) 0 0 0 1px inset;
    --redefine-box-shadow-flat: var(--shadow-color-2) 0 1px 4px 0, var(--shadow-color-1) 0 0 0 1px;
    --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0 1px 4px 0, var(--shadow-color-1) 0 0 0 1px, var(--shadow-color-1) 0 0 0 1px inset;
    --toc-child-display: {{ if $r.articles.toc.expand | default true }}block{{ else }}none{{ end }};
  }
  html.dark {
    --background-color: #202124;
    --background-color-transparent: rgba(32, 33, 36, 0.4);
    --background-color-transparent-15: rgba(32, 33, 36, 0.15);
    --background-color-transparent-40: rgba(32, 33, 36, 0.4);
    --background-color-transparent-80: rgba(32, 33, 36, 0.8);
    --second-background-color: #252629;
    --third-background-color: #2b2c30;
    --third-background-color-transparent: rgba(32, 33, 36, 0.6);
    --default-text-color: #bebec6;
    --first-text-color: #f4f4f6;
    --second-text-color: #e9e9ee;
    --third-text-color: #85858e;
    --fourth-text-color: #3d3d42;
    --invert-text-color: #373D3F;
    --border-color: rgba(255, 255, 255, 0.08);
    --selection-color: color-mix(in srgb, {{ $primary }}, white 10%);
    --shadow-color-1: rgba(255, 255, 255, 0.08);
    --shadow-color-2: rgba(255, 255, 255, 0.05);
    --shadow-hover-color: rgba(69, 69, 69, 0.28);
    --scrollbar-color: #898989;
    --scrollbar-color-hover: #a1a1a1;
    --scroll-bar-bg-color: #2d2f33;
    --link-color: #cdcdd5;
    --copyright-info-color: #a30027;
    --avatar-background-color: #0052a3;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
    --archive-timeline-last-child-color: linear-gradient(to bottom, rgba(50,50,50,1) 60%, rgba(255,255,255, 0) 100%) 1 100%;
    --note-blue-title-bg: #1e3e46;
    --note-red-title-bg: #4e1e1e;
    --note-green-title-bg: #1e4e1e;
    --note-yellow-title-bg: #4e4e1e;
    --note-purple-title-bg: #4e1e4e;
    --note-gray-title-bg: #4e4e4e;
    --note-black-title-bg: #1e1e1e;
    --note-cyan-title-bg: #1e4e4e;
    --note-type-title-bg: #4e3a1e;
    --home-banner-text-color: {{ $r.home_banner.text_color.dark | default "#d1d1b6" }};
    --home-banner-img: url({{ $r.home_banner.image.dark | default "/images/wallhaven-wqery6-dark.webp" | relURL }});
    --home-banner-icons-container-border-color: rgba(197, 197, 197, 0.35);
    --home-banner-icons-container-background-color: rgba(197, 197, 197, 0.3);
  }
</style>
