if (hexo-config('comment.enable') == true && hexo-config('comment.system') != "") {
  if (hexo-config('comment.system') == "waline") {
    @import "./waline.styl"

  } else if (hexo-config('comment.system') == "gitalk") {
    @import "./gitalk.styl"

  } else if (hexo-config('comment.system') == "twikoo") {
    @import "./twikoo.styl"
  }
}